body{
    font-family: sans-serif;
    margin: auto;
    
    max-width: 1024px;
}

header, li a, header a {
    display: inline-block;
    background-color: brown;
    border-color: black;
    border-style: solid;
}

body header nav ul{
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}




/* .grid-item{
    display: grid;
    background-color: aqua;
}

.grid-container{
    background-color: blue;
    border: 2px solid red;
}

*/

