body{
    font-family: sans-serif;
    margin: auto;
    
    max-width: 1024px;
}

header h3{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;      
}

header{
    display: flex;
    background-color: brown;
    border-color: black;
    border-style: solid;
    width: 1024px;
    height: 53px;

}

header a{
    display: flex;
    background-color: red;
    border-color: black;
    border-style: solid;
}

body header nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li a{
    display: flex;
    text-align: center;
    color: greenyellow;
    padding: 16px;
    text-decoration: none;
}

a{
    display: flex;
    text-align: center;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
}


.main-page{
    width: 700px;
    border-style: solid;
    background-color: orange;
}

.first-news{
    width: 30%;
    float: left;
    padding-left: 40px;
}

.second-news{
 
    width: 30%;
    vertical-align: text-top;
    padding-left: 370px;

}

p{
    font-size: 15px;
}

form{
   
}

h2{
    text-transform: uppercase;
    padding-left: 5px;
    width: 250px;
    display: flex;
    border-left: 10px solid;
    border-right: 40px;
    
}

.login-content{
    width: 1004px;
    background-color: orangered;
    border-style: double;
    border-color: black;
    padding: 10px;
}



aside{
    border-style: double;
    border-radius: 3px;
    background-color: brown;
    width: 200px;
    float: right;
}

footer{
    height: 50px;
   
}

.reset{
    border-style: solid;
    background-color: yellow;
}

.submit{

    border-style: double;
    background-color: green;
    border-radius: 40%;
}

form{
    border-style: double;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
}


/* .grid-item{
    display: grid;
    background-color: aqua;
}

.grid-container{
    background-color: blue;
    border: 2px solid red;
}

*/

