body{
    font-family: sans-serif;
    margin: auto;
    max-width: 1024px;
    background-color:olivedrab;
}

header h3{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;      
}

header{
    display: flex;
    background-color: darkgoldenrod;
    border-color: black;
    border-style: solid;
    width: 1024px;
    height: 53px;

}

header a{
    display: flex;
    background-color: darkblue;
    border-color: black;
    border-style: solid;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li a{
    display: flex;
    text-align: center;
    color: darkgrey;
    padding: 16px;
    text-decoration: none;
}

a {
    display: flex;
    text-align: center;
    margin-left: auto;
    color: darkgray;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
}


.main-page{
    width: 750px;
    display: inline-block;
    border-style: solid;
    background-color: goldenrod;
}

.first-news{
    width: 40%;
    float: left;
    padding-left: 20px;
}

.second-news{
 
    width: 40%;
    vertical-align: text-top;
    padding-left: 370px;

}

p{
    font-size: 15px;
}

h2{
    text-transform: uppercase;
    padding-left: 5px;
    width: 250px;
    display: flex;
    border-left: 10px solid;
    border-right: 40px;
    
}

.login-content{
    display: inline-block;
    align-content: center;
    width: 1004px;
    padding: 10px;
}



aside{
    background-color: lightsteelblue;
    border-style: solid;
    width: 266px;
    height: 644px;
    text-align: center;
    float: right;
}

footer{
    height: 50px;
   
}

.reset{
    border-style: solid;
    background-color: rgba(255, 255, 0, 0.724);
    border-radius: 30%;
}

.submit{

    border-style: double;
    background-color: green;
    border-radius: 40%;
}

form{
    background-color: darkgoldenrod;
    border-style: double;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
}

footer{
    padding-left: 10px;
}

